numpy
pandas
matplotlib
seaborn
nltk
textblob
spaCy
backtrader
yfinance
lxml
keras
tensorflow
sklearn
pkg_resources
git+https://github.com/mementum/backtrader.git@0fa63ef4a35dc53cc7320813f8b15480c8f85517